doctype html

html
  head
    meta(charset='UTF-8')
    title CB Insights
    link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet")

  body
    #root

    script.
        window.close()
